:root {
  --text: rgb(228, 236, 243);
  --background: rgb(6, 10, 14);
  --primary: rgb(50, 134, 207);
  --secondary: rgb(80, 173, 255);
  --accent: rgb(83, 160, 242);
  --muted: rgb(144, 150, 155);
}
