@import url('fonts.css');
@import url('colors.css');

body {
    background-color: var(--background);
    color: var(--text);
    border: 0;
    margin: 0;
}

.flexWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.indextext {
    width: 30%;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
    padding-top: 6%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}