<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/_head.njk" %}
    <title>TheRiggsBlog</title>
    <style> #nav-home { text-decoration: underline; } </style>
</head>
<body>
    <div class="flexWrapper">
        {% include "partials/_navbar.njk" %}
        <div class="body">
            <div class="indextext">
                <h>Welcome! :)</h>
                <p>This is TheRiggsBlog, my personal website where I post about my experiences with technology. Check out [my work] or [learn more about me].</p>
            </div>
            <div class="graphic">
                <img src="{{ '/graphic/blob.svg' | url }}" alt="">
            </div>
        </div>
    </div>
</body>
</html>