<div class="navbar">
  <a>TheRiggsBlog</a>
  <div class="links">
    <a id="nav-home" href="/">Home</a>
    <a id="nav-about" href="{{ '/about' | url }}">About Me</a>
    <a id="nav-proj" href="">Projects</a>
    <a id="nav-blog" href="{{ '/blog' | url }}">Blog</a>
  </div>
  <div class="slider">
    <a href="">Dark</a>
  </div>
</div>