// Colors
$darkGrey: #323232;
$white: #f8f8ff;
$black: #0d0d0d;
$blue: #93b7ff;

$backgroundDarker: #000;
$backgroundDark: #000;

//Fonts
$fontHeader: 'Fira Mono', monospace;
$fontParagraph: 'Open Sans', sans-serif;
$fontCode: 'Fira Mono', monospace;

// Content
$breakLarge: 992px;
$width: 60%;